<div class="modal-header">
    <span class="close">&times;</span>
    <h2><%= configuration.text.partials.addStudymaterial.titleText %></h2>
</div>
<br>
<form action="?action=createstudymaterial" method="post">
    <label for="studymaterial-name"><b><%= configuration.text.partials.addStudymaterial.nameInputText %></b></label><br>
	<input type="text" placeholder="NAME" name="studymaterial-name" required>
    <br><br>
    <label for="studymaterial-description"><b><%= configuration.text.partials.addStudymaterial.descriptionInputText %></b></label>
    <br>
	<textarea placeholder="DESCRIPTION" name="studymaterial-description" class="message-context-input" required></textarea>
    <br*2>
    <label for="studymaterial-contents"><b><%= configuration.text.partials.addStudymaterial.contentsInputText %></b></label>
    <br>
    <textarea placeholder="CONTENTS" name="studymaterial-contents" class="message-context-input"></textarea>
    <br*2>
    <label for="studymaterial-files"><b>Files</b></label>
    <input type="file" name="studymaterial-files">
    <br>
    <div style="display:flex;justify-content:center;align-items:center;"><br><br><br><br><br>
        <button type="submit" class="button submit-button" value="submit"><%= configuration.text.partials.addStudymaterial.titleText %></button>
    </div>
    <br><br>
</form>