<div class="modal-header">
    <span class="close">&times;</span>
    <h2><%= configuration.text.partials.addEvent.titleText %></h2>
</div>
<br>
<form action="?action=createevent" method="post">
    <div class="event-form-container">
        <label for="event-name"><%= configuration.text.partials.addEvent.nameInputText %></label><br>
        <input 
        type="text" 
        placeholder="Name" 
        name="event-name" 
        class="event-input-name"
        required>
        <br />
        <br>
        <label for="event-description"><%= configuration.text.partials.addEvent.descriptionInputText %></label><br>
        <textarea 
        placeholder="Description" 
        name="event-description" 
        class="event-input-description"></textarea>
        <br />
        <br>
        <div style="text-align:center">
            <label for="event-datetime"><%= configuration.text.partials.addEvent.datetimeInputText %></label>
            <input 
            type="datetime-local"
            name="event-datetime"
            required>
        </div>
        <input type="hidden" name="username">
        <br />
        <br>
        <button type="submit" class="submit-button" value="submit"><%= configuration.text.partials.addEvent.titleText %></button>
    </div>
    <br><br>
</form>