<div class="modal-header">
    <span class="close">&times;</span>
    <h2><%= configuration.text.partials.addStudymaterial.titleText %></h2>
</div>
<br>
<form action="?action=createstudymaterial" method="post">
    <div class="studymaterial-form-container">
        <label for="studymaterial-name"><%= configuration.text.partials.addStudymaterial.nameInputText %></label>
        <input 
            type="text" 
            placeholder="Name" 
            name="studymaterial-name"
            class="name-input" 
            required
        />
        <br/>
        <br>
        <label for="studymaterial-description"><%= configuration.text.partials.addStudymaterial.descriptionInputText %></label>
        <textarea
            placeholder="Description"
            name="studymaterial-description"
            class="description-input"
            required
        ></textarea>
        <br/>
        <br>
        <label for="studymaterial-contents"><%= configuration.text.partials.addStudymaterial.contentsInputText %></label>
        <textarea
            placeholder="Contents"
            name="studymaterial-contents"
            class="contents-input"
            required
        ></textarea>
        </br>
        <br>
        <div style="text-align:center">
            <label for="studymaterial-files"><%= configuration.text.partials.addStudymaterial.fileInputText %></label>
            <input type="file"
                name="studymaterial-files"
                class="files-input"
                required
            />
    </div>

        <br*2>
        <button type="submit" class="add-studymaterial-button" value="submit"><%= configuration.text.partials.addStudymaterial.titleText %></button>
	</div>
</form>