<div style="text-align: center">

		<br />
		<table id="leaderboard" class="horizontal-center">
			<tr>
				<th>
					<%= configuration.text.partials.leaderboardTable.rankText %>
				</th>
				<th>
					<%=
					configuration.text.partials.leaderboardTable.usernameText %>
				</th>
				<th>
					<%= stat
					%>
				</th>
			</tr>
            <% if (data){ %>
			<% for (let i = 0; i < data.length; i++){ %>
            </tr>
                <th>
                    <%= i+1 %>
                </th>
                <th>
                <%= data[i].username %>
            </th>
            <th>
                <%= data[i].statistics[stat] %>
            </th>
        </tr>
            <% } %> 
            <% } %>
		</table>
		<br />
	</div>

