<div
	class="administrator-dashboard-box"
	style="grid-template-columns: 1fr 1fr; overflow: auto"
>
	<form>
		<div id="user-statistics-container">
			<div id="user-statistics-title-container">
				Statistics of <%= data.name %>:
				<div><%= JSON.stringify(data.statistics) %></div>
			</div>
		</div>
		<br />
		<div id="user-statistics-modification-container">
			<div display="none;">
				<input type="hidden" name="user-to-modify-stat-of" value=<%=data.userID%>>
			</div>
			<div>
				Change
				<select name="key-to-modify" id="key-to-modify">
					<% Object.keys(data.statistics).forEach((key) => { %>
					<option value=<%=key%>><%=key%></option>
					<% }); %></select
				>'s value to <input type="text" name="value-to-modify-key-with"/><button
					style="float: right"
					formmethod="post"
					formaction="/administrator-dashboard/modify-user-stat"
					
					class="button-rounded button-color-neutral"
				>
					Save Change
				</button>
			</div>
			<br />
			<div>
				Add a new key called <input type="text" name="key-to-add"/> with a value of
				<input type="text" name="initial-value-for-key" /><button
					style="float: right"
					
					formmethod="post"
					formaction="/administrator-dashboard/add-user-stat"
					class="button-rounded button-color-neutral"
				>
					Add Key
				</button>
			</div>
			<br />
			<div>
				Delete the key called <input type="text" name="key-to-delete" /><button
					style="float: right"
					
					formmethod="post"
					formaction="/administrator-dashboard/delete-user-stat"
					class="button-rounded button-color-dangerous"
				>
					Delete Key
				</button>
			</div>
		</div>
	</form>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</div>
