<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/styles/styles.css" rel="stylesheet" />
<img src="/assets/images/CSP Logo.png" alt="CSP Logo" class="logo" width:>
<div id="top-navigation-bar">
	
	<% const newConfiguration = Object.entries(configuration).filter(([key, value]) => {return value.position >= 1;}).sort((first, second) => first[1] - second[1]); %>
	<% for (value of newConfiguration){ %>
		<% content = value[1]; %>
		<% if (content.dropdownContent){ %>
			<%- `<div class='top-navigation-bar-dropdown'>` %>
			<%- `<button class='drop-down-button'>${content.text}</button>` %>
			<%- `<div class="top-navigation-bar-dropdown-content">` %>
			<% const newDropdownContent = Object.entries(content.dropdownContent).sort((first, second) => first[1] - second[1]); %>
			<% for (dropdownChoice of newDropdownContent){ %>
				<% dropdownChoiceContent = dropdownChoice[1] %>
				<%- `<a href=${dropdownChoiceContent.link}>${dropdownChoiceContent.text}</a>` %>
			<% } %>
			<%- `</div>` %>
			<%- `</div>` %>

			<% } else { %>
			<%- `<a href=${content.link}>${content.text}</a>` %>
		<% } %>
	<% } %>

	<a href='javascript:void(0)' class='icon' onclick='myFunction()'>&#9776;</a>
</div>



<!-- <script>
	function myFunction() {
	  var x = document.getElementById("mytop-navigation-bar");
	  if (x.className === "top-navigation-bar") {
		x.className += " responsive";
	  } else {
		x.className = "top-navigation-bar";
	  }
	}
</script> -->