<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../../partials/head") %>
		<title>Communicable Student Portal</title>
	</head>

	<body>
		<header>
			<%- include("../../partials/header", {configuration:
			configuration}); %>
		</header>
		<br />
		<h1><%= configuration.text.pages.administrator.administratorDashboard.titleText %></h1>
		<br />
		<div
			style="display: flex;flex-wrap: wrap;flex-direction: row;justify-content: center;"
		>
			<div class="administrator-dashboard-box">
				<span style="font-size: large"><%= configuration.text.pages.administrator.administratorDashboard.userManagementTitleText %></span>
				<br />
				<div
					style="
						display: flex;
						justify-content: flex-end;
						align-items: center;	width: min-content;
					"
				>
					<button onclick="location.href='/administrator-dashboard/create-user'" class="button-color-positive button-rounded">
						<%= configuration.text.pages.administrator.administratorDashboard.createUserText %>
					</button>
					<br />
					<button class="button-color-neutral button-rounded">
						<%= configuration.text.pages.administrator.administratorDashboard.modifyUserText %>
					</button>
					<br />
					<button class="button-color-negative button-rounded">
						<%= configuration.text.pages.administrator.administratorDashboard.deleteUserText %>
					</button>
				</div>
			</div>
			
		</div>

		<footer><%- include("../../partials/footer", {configuration:
			configuration}); %></footer>
	</body>
</html>
