<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../../partials/head") %>
		<title>CSP - Login</title>
	</head>

	<body>
		<header>
			<%- include("../../partials/header", {configuration:
			configuration}); %>
		</header>
           <p style="text-align: center;">
				<%= configuration.text.pages.administrator.viewAPIKey.informationText %>
				<br>
				<strong><%= configuration.text.pages.administrator.viewAPIKey.warningText %></strong>
				<br><br>
				<span style="font-size:2vw;"><%= apiKey.apiKey %></span>
			</p> 
		<footer><%- include("../../partials/footer", {configuration:
			configuration}); %></footer>
	</body>
</html>
