<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>About</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration}); %></header>
        <h1><%= configuration.text.pages.user.about.titleText %></h1>
        <div style="width:70%; margin:auto">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li>About</a></li>
			</ul>
		</div>
        <p style="text-align:center"><%= configuration.text.pages.user.about.descriptionText %></p>
        <h3><%= configuration.text.pages.user.about.question.Q1 %></h3>
        <p><%= configuration.text.pages.user.about.answer.A1 %></p>
        <br>
        <h3><%= configuration.text.pages.user.about.question.Q2 %></h3>
        <p style="text-align:center"><%= configuration.text.pages.user.about.answer.A2 %></p>
        <br>
        <h3><%= configuration.text.pages.user.about.question.Q3 %></h3>
        <p><%= configuration.text.pages.user.about.answer.A3 %></p>
        <br*2>
		<footer><%- include("../partials/footer", {configuration: configuration}); %></footer>
	</body>
</html>