<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Announcements</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration}); %></header>
		<h1><%= configuration.text.pages.user.announcements.textTitle %></h1>
		<p><%= configuration.text.pages.user.announcements.descriptionText %></p>
		<br>
		<footer><%- include("../partials/footer", {configuration: configuration}); %></footer>
	</body>
</html>