<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Blog Menu</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration}); %></header>
			<h1><%= configuration.text.pages.user.blogMenu.titleText %></h1>
			<p><%= configuration.text.pages.user.blogMenu.descriptionText %></p>
			<br>
			<div style="margin:auto; width:70%">
				<button type="button" class="add-blog-button" id="modal-button"><%= configuration.text.pages.user.blogMenu.newblogText %></button>
				<div id="modal" class="modal">
					<div class="modal-content"><%- include("../partials/add-blog") %></div>
				</div>
				<ul class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li>Blog Menu</li>
				</ul>
				<a href="/blog-content">
					<div class="blog-menu-container">
						<img src="assets\images\Random guy 2.jpg" class="avatar">
						<%- include("../partials/reaction.ejs") %>
						<span class="blog-menu-title"><%= configuration.text.pages.user.blogMenu.blog1.title %></span><br>
						<span class="blog-menu-author"><%= configuration.text.pages.user.blogMenu.blog1.username %></span><br>
						<span class="blog-menu-rank"><%= configuration.text.pages.user.blogMenu.blog1.rank %></span><br>
						<span class="blog-menu-datetime"><%= configuration.text.pages.user.blogMenu.blog1.datetime %></span>
						<br>
					</div>	
				</a>
			</div>
		<footer><%- include("../partials/footer", {configuration: configuration}); %></footer>

		<script>
			var modal = document.getElementById("modal");
			
			var btn = document.getElementById("modal-button");
			
			var span = document.getElementsByClassName("close")[0];
			
			btn.onclick = function() {
			  modal.style.display = "block";
			}
			
			span.onclick = function() {
			  modal.style.display = "none";
			}
			
			window.onclick = function(event) {
			  if (event.target == modal) {
				modal.style.display = "none";
			  }
			}
		</script>
	</body>
</html>