<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Blog Menu</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration}); %></header>
			<h1><%= configuration.text.pages.user.blogMenu.titleText %></h1>
			<p><%= configuration.text.pages.user.blogMenu.descriptionText %></p>
			<br>
			<div class="blog-content-container">
				
			</div>
		<footer><%- include("../partials/footer", {configuration: configuration}); %></footer>
	</body>
</html>