<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Chatboard</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration}); %></header>
        <br>
		<h1><%= configuration.text.pages.chatboardContent.titleText %></h1>
		<br>
		<p>
			Chat boards are where members of the school can communicate publicly. The chat allows moderators and computer algorithm to filter the message boards.
		</p>
		<br>
		<center>
			<button type="button" class="add-message-button" id="modal-button" style="display:flex;justify-content:center;align-items:center;">New message</button>
			<div id="modal" class="modal">
				<div class="modal-content"><%- include("../partials/add-message") %></div>
			</div>
		</center>
		<br>
		<div class="chatboard-message-container">
			<img src="assets\images\Random guy.jpg" class="avatar">
			<span class="chatboard-message-title">Anyone want to come to my birthday party?</span>
			<br>
			<span class="chatboard-message-author">John Doe</span>
			<br>
			<span class="chatboard-message-time">Posted on April 19th, 2022 11:59</span>
			<br><br>
			<div class="message-container">
				<span class="chatboard-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus bibendum orci, eu eleifend risus porttitor sed. Quisque non libero eu mi condimentum vestibulum. Vestibulum gravida tellus in nisl eleifend, sed laoreet lorem convallis. Nulla quis erat leo. Aliquam eu semper diam, ut ullamcorper justo. Morbi aliquet aliquet ipsum condimentum hendrerit. Etiam condimentum, tellus quis aliquet pharetra, ligula ipsum dignissim leo, at placerat urna ex id ante. Nullam tempus scelerisque erat finibus congue. Duis suscipit vulputate sapien, in ultrices elit tempus vitae.</span>
			</div>
			<br>
			<button type="button" class="collapsible" style="width:100% ;margin: auto">Comments</button>
			<div class="collapsible-content" style="width:96% ;margin: auto">
				<br>
				<%- include("../partials/add-comment") %>
				<br><br>
				<div class="chatboard-comment-container">
					<img src="assets\images\Random girl.jpg" class="avatar">
					<br>
					<span class="chatboard-comment-author">Jane Doe</span>
					<br>
					<span class="chatoard-comment-time">Posted on April 19th, 2022 11:59</span>
					<br><br>
					<div class="comment-container">
						<span class="chatboard-comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus bibendum orci, eu eleifend risus porttitor sed. Quisque non libero eu mi condimentum vestibulum. Vestibulum gravida tellus in nisl eleifend, sed laoreet lorem convallis. Nulla quis erat leo. Aliquam eu semper diam, ut ullamcorper justo. Morbi aliquet aliquet ipsum condimentum hendrerit. Etiam condimentum, tellus quis aliquet pharetra, ligula ipsum dignissim leo, at placerat urna ex id ante. Nullam tempus scelerisque erat finibus congue. Duis suscipit vulputate sapien, in ultrices elit tempus vitae.</span>
					</div>
				</div>
				<br>
			</div>
		</div>
		<footer><%- include("../partials/footer", {configuration: configuration}); %></footer>

		<script>
			var modal = document.getElementById("modal");
			
			var btn = document.getElementById("modal-button");
			
			var span = document.getElementsByClassName("close")[0];
			
			btn.onclick = function() {
			  modal.style.display = "block";
			}
			
			span.onclick = function() {
			  modal.style.display = "none";
			}
			
			window.onclick = function(event) {
			  if (event.target == modal) {
				modal.style.display = "none";
			  }
			}

			var coll = document.getElementsByClassName("collapsible");
			var i;
			
			for (i = 0; i < coll.length; i++) {
				coll[i].addEventListener("click", function() {
					this.classList.toggle("active");
					var content = this.nextElementSibling;
					if (content.style.maxHeight){
						content.style.maxHeight = null;
					} else {
						content.style.maxHeight = content.scrollHeight + "px";
					} 
				});
			}
		</script>
	</body>
</html>