<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Chatboard</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration}); %></header>
        <br>
		<h1><%= configuration.text.pages.user.chatboardContent.titleText %></h1>
		<br>
		<p><%= configuration.text.pages.user.chatboardContent.descriptionText %></p>
		<br>
		<div style=" width: 70%; margin: auto;">
			<button type="button" class="add-message-button" id="modal-button" style="display:flex;justify-content:center;align-items:center;">New message</button>
			<div id="modal" class="modal">
				<div class="modal-content"><%- include("../partials/add-message") %></div>
			</div>
		</div>
		<br>
		<div class="chatboard-message-container">
			<img src="assets\images\Random guy.jpg" class="avatar">
			<%- include("../partials/reaction") %>
			<span class="chatboard-message-title"><%= configuration.text.pages.user.chatboardContent.messages[1].topic %></span>
			<br>
			<span class="chatboard-message-author"><%= configuration.text.pages.user.chatboardContent.messages[1].username %></span>
			<br>
			<span class="chatboard-message-time"><%= configuration.text.pages.user.chatboardContent.messages[1].datetime %></span>
			<br><br>
			<div class="message-container">
				<span class="chatboard-message"><%= configuration.text.pages.user.chatboardContent.messages[1].content %></span>
			</div>
			<br>
			<br>
			<button type="button" class="collapsible"><%= configuration.text.pages.user.chatboardContent.commentsTitleText %></button>
			<div class="collapsible-content">
				<br>
				<%- include("../partials/add-comment") %>
				<br><br>
				<div style="width:90%; margin:auto">
					<div class="chatboard-comment-container">
						<img src="assets\images\Random girl.jpg" class="avatar">
						<%- include("../partials/reaction") %>
						<br>
						<span class="chatboard-comment-author"><%= configuration.text.pages.user.chatboardContent.comments[1].username %></span>
						<br>
						<span class="chatoard-comment-time"><%= configuration.text.pages.user.chatboardContent.comments[1].datetime %></span>
						<br><br>
						<div class="comment-container">
							<span class="chatboard-comment"><%= configuration.text.pages.user.chatboardContent.comments[1].content %></span>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
		<footer><%- include("../partials/footer", {configuration: configuration}); %></footer>

		<script>
			var modal = document.getElementById("modal");
			
			var btn = document.getElementById("modal-button");
			
			var span = document.getElementsByClassName("close")[0];
			
			btn.onclick = function() {
			  modal.style.display = "block";
			}
			
			span.onclick = function() {
			  modal.style.display = "none";
			}
			
			window.onclick = function(event) {
			  if (event.target == modal) {
				modal.style.display = "none";
			  }
			}

			var coll = document.getElementsByClassName("collapsible");
			var i;
			
			for (i = 0; i < coll.length; i++) {
				coll[i].addEventListener("click", function() {
					this.classList.toggle("active");
					var content = this.nextElementSibling;
					if (content.style.maxHeight){
						content.style.maxHeight = null;
					} else {
						content.style.maxHeight = content.scrollHeight + "px";
					} 
				});
			}
		</script>
	</body>
</html>