<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Event</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration}); %></header>
		<div style="width: 70%; margin: auto;">
			<h1><%= configuration.text.pages.user.events.titleText %></h1>
			<br>
			<p><%= configuration.text.pages.user.events.descriptionText %></p>
			<button type="button" class="add-event-button" id="modal-button"><%= configuration.text.pages.user.events.neweventText %></button>
			<div id="modal" class="modal">
				<div class="modal-content"><%- include("../partials/add-event") %></div>
			</div>
			<br>
			<%- include("../partials/event-bar") %>
		</div>
		<br/>
		<br>
		<footer><%- include("../partials/footer", {configuration: configuration}); %></footer>

		<script>
			var modal = document.getElementById("modal");
			
			var btn = document.getElementById("modal-button");
			
			var span = document.getElementsByClassName("close")[0];
			
			btn.onclick = function() {
			  modal.style.display = "block";
			}
			
			span.onclick = function() {
			  modal.style.display = "none";
			}
			
			window.onclick = function(event) {
			  if (event.target == modal) {
				modal.style.display = "none";
			  }
			}
		</script>
	</body>
</html>