<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration}); %></header>
		<br>
		<%- include("../partials/index-slideshow") %>
		<br>
		<h2><%= configuration.text.pages.index.titleText %></h2>
		<footer><%- include("../partials/footer", {configuration: configuration}); %></footer>
	</body>
</html>
