<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Leaderboard</title>
	</head>
	
	<body>
		<header><%- include("../partials/header", {configuration: configuration}); %></header>
		<h1><%= configuration.text.pages.user.leaderboard.titleText %></h1>
		<p style="text-align:center"><%= configuration.text.pages.user.leaderboard.descriptionText %></p>
		<%- include("../partials/leaderboard-table") %>
		<footer><%- include("../partials/footer", {configuration: configuration}); %></footer>
	</body>
</html>