<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Study Material</title>
	</head>
	<body>
		<header>
			<%- include("../partials/header", {configuration: configuration});
			%>
		</header>
		<h1>
			<%= configuration.text.pages.user.studymaterialSelect.titleText %>
		</h1>
		<br />
		<p style="text-align: center">
			<%=
			configuration.text.pages.user.studymaterialSelect.descriptionText %>
		</p>
		<div style="width: 70%; margin: auto;">
			<button
				type="button"
				class="add-message-button"
				id="modal-button"
				style="
					display: flex;
					justify-content: center;
					align-items: center;
				"
			>
				<%=
				configuration.text.pages.user.studymaterialSelect.addstudymaterialButton
				%>
			</button>
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a href="/studymaterial-menu">Study Material Menu</a></li>
				<li>Study Material Select</li>
			</ul>
			<div id="modal" class="modal">
				<div class="modal-content">
					<%- include("../partials/add-studymaterial", {configuration: configuration}); %>
				</div>
			</div>
			<br />
			<a href="/studymaterial-content"
				><div class="studymaterial-container">
					<img
						class="studymaterial-pic"
						src="assets\images\Random book 1.jpg"
					/>
					<br />
					<div class="studymaterial-name">
						<%=
						configuration.text.pages.user.studymaterialSelect.material1.name
						%>
					</div>
					<hr />
					<div class="studymaterial-description">
						<%=
						configuration.text.pages.user.studymaterialSelect.material1.description
						%>
					</div>
				</div></a
			>
			<a href=""
				><div class="studymaterial-container">
					<img
						class="studymaterial-pic"
						src="assets\images\Random book 2.jpg"
					/>
					<br />
					<div class="studymaterial-name">
						<%=
						configuration.text.pages.user.studymaterialSelect.material2.name
						%>
					</div>
					<hr />
					<div class="studymaterial-description">
						<%=
						configuration.text.pages.user.studymaterialSelect.material2.description
						%>
					</div>
				</div></a
			>
			<a href=""
				><div class="studymaterial-container">
					<img
						class="studymaterial-pic"
						src="assets\images\Random book 3.jpg"
					/>
					<br />
					<div class="studymaterial-name">
						<%=
						configuration.text.pages.user.studymaterialSelect.material3.name
						%>
					</div>
					<hr />
					<div class="studymaterial-description">
						<%=
						configuration.text.pages.user.studymaterialSelect.material3.description
						%>
					</div>
				</div></a
			>
	</div>
		<br />
		<footer>
			<%- include("../partials/footer", {configuration: configuration});
			%>
		</footer>

		<script>
			var modal = document.getElementById("modal");

			var btn = document.getElementById("modal-button");

			var span = document.getElementsByClassName("close")[0];

			btn.onclick = function () {
				modal.style.display = "block";
			};

			span.onclick = function () {
				modal.style.display = "none";
			};

			window.onclick = function (event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			};
		</script>
	</body>
</html>
