<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") %>
		<title>CSP - Study Material</title>
	</head>
	<body>
		<header><%- include("../partials/header", {configuration: configuration}); %></header>
		<h1><%= configuration.text.pages.user.studymaterialContent.titleText %></h1>
		<p style="text-align:center"><%= configuration.text.pages.user.studymaterialContent.descriptionText %></p>
		<br>
		<div style="margin:auto; width: 80%;">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a href="/studymaterial-menu">Study Material Menu</a></li>
				<li><a href="/studymaterial-select">Study Material Selection Page</a></li>
				<li>Study Material Content</li>
			</ul>
		</div>
		<div class="studymaterial-content-container">
			<img src="assets\images\Random book 1.jpg">
			<div class="studymaterial-content-detail">
				<span class="studymaterial-content-name"><%= configuration.text.pages.user.studymaterialContent.studymaterialName %></span>
				<hr>
				<div class="studymaterial-content-description">
					<%= configuration.text.pages.user.studymaterialContent.studymaterialDescription %>
				</div>
				<br>
				<span class="studymaterial-content-content"><%= configuration.text.pages.user.studymaterialContent.studymaterialContentsTitle %></span>
				<hr>
				<%= configuration.text.pages.user.studymaterialContent.studymaterialContents[1] %><br>
				<%= configuration.text.pages.user.studymaterialContent.studymaterialContents[2] %><br>
				<%= configuration.text.pages.user.studymaterialContent.studymaterialContents[3] %>
				</br><br><br><br><br><br>
				<div style="width:60%; margin:auto">
					<button class="download-studymaterial-button"><%= configuration.text.pages.user.studymaterialContent.downloadText %></button>
				</div>
			</div>
		</div>
		<footer><%- include("../partials/footer", {configuration: configuration}); %></footer>
	</body>
</html>